@import "../../assets/styles/vars";

.about_me{
	margin: 0;
	padding: 20px;
    width: 100%;
    height: 600px;
    .intro {
        padding: 20px;
        margin: 20px;
        text-align: center;
        h3 {
            font-size: 40px;
            color: $primary_Black;
        }
        p {
            font-size: 20px;
            color: $primary_Black;
        }
    }
    .container .card{
        position: relative;
        width: 250px;
        height: 330px;
        margin: 0 auto;
        background: $primary_White;
    }
    .container .card .face{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
    align-items: center;
    }
    .container .card .face{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .card .face.face1{
        box-sizing: border-box;
        padding: 20px;
    }
    .container .card .face.face1 h2{
        margin: 0;
        padding: 0;
    }
    .container .card .face.face2{
        background: $primary_Black;
        transition: 0.5s;
    }
    .container .card:nth-child(1) .face.face2{
        background: $primary_DarkOrange;
    }
    .container .card:nth-child(2) .face.face2{
        background: $primary_DarkOrange;
    }
    .container .card:nth-child(3) .face.face2{
        background: $primary_DarkOrange;
    }
    .container .card:nth-child(4) .face.face2{
        background: $primary_DarkOrange;
    }
    .container .card:hover .face.face2{
        height: 40px;
    
    }
    .container .card .face.face2:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255,255,255,.1);
    }
    .container .card .face.face2 h2{
        margin: 0;
        padding: 0;
        font-size: 35px;
        color: $primary_Black;
        transition: 0.5s;
        text-shadow: 0 2px 5px rgba(0,0,0,.2);
    }
    .container .card:hover .face.face2 h2{
        font-size: 2em;
    }
}
