@import "../../assets/styles/vars";

.carousel {
    .carousel-inner {
        .carousel-item {
            img {
                width: 100%;
                height: 500px;
            }
            .carousel-caption {

                h4 {
                    font-size: 30px;
                    color: $primary_DarkOrange;

                }
                p {
                    color: $primary_DarkOrange;
                    font-size: 20px;
                }
            }
        }
    }
    a.carousel-control-prev,
    a.carousel-control-next{
        height: 50px;
        width: 50px;
        background-color: $primary_DarkOrange;
        top: 50%;
        border-radius: 100%;
    }
    a.carousel-control-prev {
        left: 5%;
    }
    a.carousel-control-next{
        right: 5%
    }
}